.cont-des-service {
  display: flex;
  padding-inline: 10rem;
  padding-block: 5rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.des-service {
  flex-basis: 50%;
}
.des-service h2 {
  font-weight: 700;
  font-size: 2rem;
}
.des-service p {
  font-weight: 200;
  font-size: 1.2rem;
}
.cont-des-service img {
  width: 45rem;
  height: auto;
}
.img-middle-service {
  background-image: url("/images/htm/background_service.jpg");
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 5rem;
  padding-inline: 15rem;
}
/* 
------------------------
sparpart middle parallax
------------------------
*/
.img-middle-sparpart {
  background-image: url("/images/htm/background_sparepart.jpg");
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 5rem;
  padding-inline: 15rem;
}
.img-middle-sparpart img {
  height: 8rem;
  width: auto;
}
/* 
----------------------------
end sparpart middle parallax
----------------------------
*/
.img-middle-service img {
  height: 8rem;
  width: auto;
}
.head-service {
  text-align: center;
  padding-top: 5rem;
}
.head-service h2 {
  font-weight: 700;
}
.cont-cart-service {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding-block: 5rem;
}
.cart_service {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.cart_service img {
  width: 15rem;
  height: auto;
  margin-bottom: 1rem;
}
.des-cart-service h2 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.des-cart-service p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.des-cart-service a {
  text-decoration: none;
  color: red;
  font-weight: 500;
}
.des-cart-service a:hover {
  color: brown;
}
