.header_home_berita {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_home_berita {
  padding-inline: 5rem;
  padding-top: 5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.header_home_berita h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: red;
  margin-bottom: 0rem;
}

.header_home_berita h3 {
  position: relative;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.cart_berita {
  width: 23rem;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px rgba(229, 77, 77, 0.3);
}
.cart_berita img {
  width: 100%;
}
.des_berita {
  padding-block: 1rem;
  padding-inline: 1rem;
}
.des_berita p {
  margin-bottom: 0.1rem;
  font-weight: 500;
  color: #222831;
}

.des_berita h2 {
  position: relative;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.des_berita a {
  text-decoration: none;
  color: red;
  font-weight: 600;
}
.btn-box-berita {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}
.btn-box-berita a {
  display: inline-block;
  padding: 10px 55px;
  background-color: red;
  color: #ffffff;
  border-radius: 45px;
  transition: all 0.3s;
  border: none;
}
