.hero_jaringan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}
.main_office_htm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-block: 8rem;
  padding-inline: 10rem;
}
.main_office_htm img {
  width: 40rem;
  height: auto;
  border-radius: 1rem;
}

.main_office_htm h2 {
  font-weight: 700;
  font-size: 2rem;
}
.main_office_htm p {
  font-weight: 200;
  font-size: 1.2rem;
}
.cont-alamat-pusat {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 8rem;
}
.cont-alamat-pusat h2 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.cont-alamat-pusat p {
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 0rem;
}
.cont-map-pusat {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 2px 2px 5px black;
}
.cont-main-jaringan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cont_cart_jaringan {
  /* padding-inline: 5rem; */
  padding-block: 5rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  /* background-color: antiquewhite; */
  gap: 2rem;
}
.cart_jaringan {
  width: 20rem;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px black;
}

.cart_jaringan img {
  width: 100%;
}
.cart_des_jaringan {
  padding-inline: 0.5rem;
  padding-block: 1rem;
}

.cart_des_jaringan h2 {
  font-size: 1.1rem;
  font-weight: 700;
}
.cart_des_jaringan h3 {
  font-size: 1rem;
  font-weight: 700;
}
.cart_des_jaringan p {
  font-size: 0.8rem;
  margin-bottom: 0rem;
}
.map_jaringan {
  width: 100%;
  height: 10rem;
  overflow: hidden;
}

/* 
-----------------
new cart jaringan
-----------------
*/
.img_jaringan {
  width: 100%;
  height: 13.4rem;
}
