.hero_jaringan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}
.main_office_htm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-block: 8rem;
  padding-inline: 10rem;
}
.main_office_htm img {
  width: 40rem;
  height: auto;
  border-radius: 1rem;
}

.main_office_htm h2 {
  font-weight: 700;
  font-size: 2rem;
}
.main_office_htm p {
  font-weight: 200;
  font-size: 1.2rem;
}
.cont-alamat-pusat {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 8rem;
}
.cont-alamat-pusat h2 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.cont-alamat-pusat p {
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 0rem;
}
.cont-map-pusat {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 2px 2px 5px black;
}
.cont-main-jaringan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cont_cart_jaringan {
  /* padding-inline: 5rem; */
  padding-block: 5rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  /* background-color: antiquewhite; */
  gap: 2rem;
}
.cart_jaringan {
  width: 20rem;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px black;
}

.cart_jaringan img {
  width: 100%;
}
.cart_des_jaringan {
  padding-inline: 0.5rem;
  padding-block: 1rem;
}

.cart_des_jaringan h2 {
  font-size: 1.1rem;
  font-weight: 700;
}
.cart_des_jaringan h3 {
  font-size: 1rem;
  font-weight: 700;
}
.cart_des_jaringan p {
  font-size: 0.8rem;
  margin-bottom: 0rem;
}
.map_jaringan {
  width: 100%;
  height: 10rem;
  overflow: hidden;
}

/* 
-----------------
new cart jaringan
-----------------
*/
.img_jaringan {
  width: 100%;
  height: 13.4rem;
}

.jaringan_section {
  padding-block: 3rem;
}
.jaringan_section .filters_menu {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 45px 0 20px 0;
}
.jaringan_section .filters_menu li {
  padding: 7px 25px;
  cursor: pointer;
  border-radius: 25px;
}
.jaringan_section .filters_menu li.active {
  background-color: #222831;
  color: #ffffff;
}
.jaringan_section .box {
  position: relative;
  margin-top: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(to bottom, #f1f2f3 25px, red 25px);
}
.jaringan_section .box .img-box {
  background: #f1f2f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 215px;
  /* border-radius: 0 0 0 45px; */
  margin: -1px;
  padding: 25px;
}
.jaringan_section .box .img-box img {
  max-width: 100%;
  max-height: 100%;
  transition: all 0.2s;
}
.jaringan_section .box .detail-box {
  padding: 25px;
}
.jaringan_section .box .detail-box h5 {
  font-weight: 600;
}
.jaringan_section .box .detail-box p {
  font-size: 15px;
}
.jaringan_section .box .detail-box h6 {
  margin-top: 10px;
}
.jaringan_section .box .options {
  display: flex;
  justify-content: space-between;
}
.jaringan_section .box .options a {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #222831;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}
.jaringan_section .box .options a:hover {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #7f858e;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}
.jaringan_section .box .options a svg {
  width: 18px;
  height: auto;
  fill: #ffffff;
}
.jaringan_section .box:hover .img-box img {
  transform: scale(1.1);
}
.jaringan_section .btn-box {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.jaringan_section .btn-box a {
  display: inline-block;
  padding: 10px 55px;
  background-color: red;
  color: #ffffff;
  border-radius: 45px;
  transition: all 0.3s;
  border: none;
}
.jaringan_section .btn-box a:hover {
  background-color: rgb(182, 27, 27);
}
