.cont-main-des-kontak {
  padding-top: 5rem;
  text-align: center;
  padding-bottom: 2rem;
}
.cont-main-des-kontak h2 {
  font-size: 2rem;
  font-weight: 700;
}
.cont-main-des-kontak p {
  font-size: 1.5rem;
}
.main-cont-kontak {
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  padding-inline: 10rem;
}
.cont-kontak {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex-basis: 50%;
}
.center-contact {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.cont-center-cart {
  border-radius: 1rem;
  box-shadow: 0 0 5px 5px rgba(53, 52, 52, 0.1);
  padding: 1rem;
  width: fit-content;
  flex-basis: 50%;
  width: 100%;
}
.cont-center-cart h2 {
  font-size: 1.3rem;
  font-weight: 700;
}
.cont-center-cart p {
  font-size: 1rem;
}
.cont-center-cart a {
  font-size: 1rem;
  text-decoration: none;
  color: red;
}
.marketing-area {
  border-radius: 1rem;
  box-shadow: 0 0 5px 5px rgba(53, 52, 52, 0.1);
  padding: 1rem;
  width: 100%;
}
.marketing-area h2 {
  font-size: 1.3rem;
  font-weight: 700;
}
.cart-marketing-area {
  display: flex;
}
.cart-marketing-area h5 {
  font-size: 1rem;
  font-weight: 700;
}
.MA1 {
  flex-basis: 60%;
}
.MA2 {
  flex-basis: 2%;
}
.MA3 {
  flex-basis: auto;
}
.cart-marketing-area a {
  font-size: 1rem;
  text-decoration: none;
  color: red;
}
.map_container-kontak {
  width: 100%;
  height: 345px;
  border-radius: 10px;
  overflow: hidden;
  flex-basis: 50%;
}
.googleMap-kontak {
  height: 100%;
  min-height: 100%;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(229, 77, 77, 0.3);
}
